<div style="display: inline;" {{ stimulus_controller('delete-form')}}>
<form class="form-inline" method="post" action="{{ path('app_course_delete', {'id': course.id}) }}" data-delete-form-target="deleteForm">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ course.id) }}">
    <button class="btn btn-danger" type="button" data-action="delete-form#onSubmit">{{'btn.delete' | trans}}</button>
</form>
</div>
