{% extends 'base.html.twig' %}

{% block title %}{{ 'title.activity.clone' | trans | capitalize }}{% endblock %}

{% block body %}
    <h1>{{ 'title.activity.clone' | trans | capitalize }}</h1>

    {{ include('activity/_form.html.twig') }}

    {{ include('common/_alert.html.twig', {
        'confirmationText' : 'messages.confirmationDetail' | trans 
    }) }}

{% endblock %}
