{{ form_start(form, {'attr' : { 'data-active-courses-filter-target' : 'form' }}) }}
   <div class="container-fluid">
      <div class="row align-items-center">
            <div class="col-lg-2">
               {{ form_widget(form.clasification, {'attr': { 'data-action': 'active-courses-filter#onChange' }}) }}
            </div>
      </div>
   </div>
{{ form_end(form) }}