{% extends 'base.html.twig' %}

{% block title %}
   {{ 'title.registration.confirm' | trans | capitalize }}
{% endblock %}

{% block body %}
   {% if not error %}
      {{ include('register/_registrationDetails.html.twig') }}
   {% endif %}
   {% if admin is defined and admin == true %}
      <a class="btn btn-secondary js-back" data-url="{{ path('app_course_status_details', {'id': registration.course.id }) }}">{{ 'btn.cancel' | trans }}</button>
   {% endif %}
{% endblock body %}