@import "~bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";

header {
    display: grid;
    grid-template-columns: 150px auto 300px;
    grid-template-areas: "logo titulo erabiltzailea";
    justify-content: space-beetween;
    text-align: center;
    align-items: center;
}

header a {
    text-decoration: none;
}

main {
	font-size: 0.9rem;
    width: 100vw;
}

.logo {
    height: auto;
    width: auto;
}

.titulua {
    display: flex;
    text-align: center;
}

.avatar {
    float: right;
    height: 3rem;
    border-radius: 3rem;
}

#hizkuntza {
    margin-left: 20px;
    margin-right: 10px;
}

body {
    background-color: white;
}

.btn-rounded {
    border-radius: 1.1rem 1.1rem 1.1rem 1.1rem;
}

.fixed-bottom-right {
    position: fixed;
    right: 20px;
    bottom: 50px;
}

span.text-danger ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

span.text-danger ul li {
	font-size: 0.8rem;
}

.modal-body button {
    display: none;
}

.modal-body label[for="event_form_status"] {
    display: none;
}

tbody, thead {
    line-height: 1rem;
    font-size: 0.8rem;
}

tbody a {
    text-decoration: none;
    font-size: 1rem;
}

.alert {
    padding: 0.5rem 0.5rem;
}

/*
.form-select-sm {
	display: block;
	width: 100%;
	padding: 0.25rem 0.5rem;
	-moz-padding-start: calc(0.75rem - 3px);
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 0.75rem center;
	background-size: 16px 12px;
	border: 1px solid #ced4da;
	border-radius: 0.2rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	min-height: calc(1.5em + 0.5rem + 2px);
}
*/

@media (max-width: 767px) {
    .logo {
        height: 50px;
        width: auto;
    }
    h1 {
        font-size: 1.5rem;
    }

    tbody, thead {
        line-height: 1rem;
        font-size: 1.5rem;
    }
    
    tbody a {
        text-decoration: none;
        font-size: 1.5rem;
    }
    
}